header {
    text-align: center;
    background-color: red;
    color: white;
    padding: 40px 0 40px 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10% 0 10%;
    width: 80%;
    justify-content: center;
}

.card-body {
    background-color: blue;
    color: white;
}

ul {
    color: black;
}

.card {
    margin-right: 20px;
    margin-top: 20px;
    border-width: 4px;
}